# Docker
.dockerignore

# Version control
# .git  # Temporarily allow .git for metadata generation
.gitignore

# Editor/IDE files
.vscode/
.idea/
*.swp

# OS/Temp files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Test and coverage artifacts
**/dast-reports/
**/workflow-reports/
**/load-reports/
**/e2e-reports/
**/test-results/
**/*_test.go
**/*_test_util.go
coverage.*
*.out

# Build artifacts
bin/
dist/
