# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins (Project Root Directory)
./bin/
./build/
./lib/
./lib64/
./dist/
./downloads/
./*.exe
./*.exe~
./*.dll
./*.so
./*.dylib
./*.o
./*.a
./*.out
./cryptoutil$
# Binaries for programs and plugins (Subdirectories)
**/bin/
**/build/
**/lib/
**/lib64/
**/dist/
**/downloads/
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/*.o
**/*.a
**/*.out

# Distribution / packaging (Project Root Directory)
./.Python
./develop-eggs/
./eggs/
./.eggs/
./*.egg
./*.egg-info/
./parts/
./sdist/
./var/
./wheels/
./.installed.cfg
# Distribution / packaging (Subdirectories)
**/.Python
**/develop-eggs/
**/eggs/
**/.eggs/
**/*.egg
**/*.egg-info/
**/parts/
**/sdist/
**/var/
**/wheels/
**/.installed.cfg

# PyInstaller (Project Root Directory)
./*.manifest
./*.spec
./__pycache__/
./*.py[cod]
./*$py.class
# PyInstaller (Subdirectories)
**/*.manifest
**/*.spec
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Unit test / coverage reports (Project Root Directory)
./htmlcov/
./.tox/
./.nox/
./.cache
./nosetests.xml
./.coverage
./.coverage.*
./coverage
./coverage-*.txt
./coverage.txt
./coverage.xml
./coverage.out
./coverage.html
./coverage.json
./coverage.lcov
./coverage_test
./coverage_cicd
./*.cover
./*.test
./.hypothesis/
./.pytest_cache/
# Unit test / coverage reports (Subdirectories)
**/htmlcov/
**/.tox/
**/.nox/
**/.cache
**/nosetests.xml
**/.coverage
**/.coverage.*
**/coverage
**/coverage-*.txt
**/coverage.txt
**/coverage.xml
**/coverage.out
**/coverage.html
**/coverage.json
**/coverage.lcov
**/coverage_test
**/coverage_cicd
**/*.cover
**/*.test
**/.hypothesis/
**/.pytest_cache/

# Output of test or workflow reports (Project Root Directory)
./dast-reports/
./e2e-reports/
./load-reports/
./test-results/
./test-results/
./workflow-reports/
# Output of test or workflow reports (Subdirectories)
**/dast-reports/
**/e2e-reports/
**/load-reports/
**/test-results/
**/test-results/
**/workflow-reports/

# Virtual environments (Project Root Directory)
./venv/
./.venv
./env/
./.env
./ENV/
./output/
# Virtual environments (Subdirectories)
**/venv/
**/.venv
**/env/
**/.env
**/ENV/
**/output/

# IDEs (Project Root Directory)
./*.swp
./*.swo
./*~
# IDEs (Subdirectories)
**/*.swp
**/*.swo
**/*~

# OS (Project Root Directory)
./.DS_Store
./Thumbs.db
# OS (Subdirectories)
**/.DS_Store
**/Thumbs.db

# Logs (Project Root Directory)
./*.log
# Logs (Subdirectories)
**/*.log

# Spell checker cache (Subdirectories)
**/.cspellcache

# CI/CD cache (Project Root Directory)
./.cicd/

# Go workspace file (Project Root Directory)
./go.work
./go.work.sum

# ASN.1/DER/PEM encoded files (Project Root Directory)
./*.pem
./*.der
./*.crt
./*.key
./*.csr
./*.pfx
./*.p12
# ASN.1/DER/PEM encoded files (Subdirectories)
**/*.pem
**/*.der
**/*.crt
**/*.key
**/*.csr
**/*.pfx
**/*.p12
