# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
cryptoutil$

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.out
coverage.html

# Output of dast workflow
dast-reports/

# Workflow execution reports
workflow-reports/

# Local test reports
load-reports/

# E2E test reports
test/e2e/e2e-reports/

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.idea/
output/

# ASN.1/DER/PEM encoded files
*.pem
*.der
