//go:build ignore

// Copyright (c) 2025-2026 Justin Cranford.
package __SERVICE__

import (
	"testing"

	cryptoutilTestCli "cryptoutil/internal/apps-framework/service/test_help_cli"
)

func Test__USAGE_PREFIX__(t *testing.T) {
	t.Parallel()

	cryptoutilTestCli.RunCLITests(t, __ENTRY_FUNC__)
}
